main{
    margin-top: 86px;
}
.navbar{
    z-index: 5;
}

@media all and (min-width: 576px) and (max-width: 767px){
    .fixedHeight{
        height: 400px;
        object-fit: cover;
    }
}
@media all and (min-width: 768px) and (max-width: 991px){
    .fixedHeight{
        height: 350px;
        object-fit: cover;
    }
    .contactoAsideImg {
        max-height: 192px;
        object-fit: cover;
    }
} 
@media all and (min-width: 992px) and (max-width: 1200px) {
    .fixedHeight{
        height: 200px;
        object-fit: cover;
    }
    .contactoAsideImg {
        max-height: 260px;
        object-fit: cover;
    }
}
@media all and (min-width: 1201px){
    .fixedHeight{
        height: 270px;
        object-fit: cover;
    }
    video {
        height: 550px;
        object-fit: cover;
    }
    .contactoAsideImg {
        max-height: 300px;
        object-fit: cover;
    } 
}
